*{

}

body{
    height: 98vh;
    background-color: black;
    background-image: url(../imagens/uchiha-clan-logo-sharingan-eye-wallpaper-1280x800_3.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

}

main{
    background-color: aliceblue;
    width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 15px;
}