*{
    margin: 0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}

h1{
    background: linear-gradient( to right, red, rgba(255, 0, 0, 0.432) );
    margin: 0;
    padding: 0;
}

main{
    background-color: aliceblue;
    min-width: 300px;
    max-width: 400px;
    padding: 10px;
    margin: 0px auto 1px auto;
    border: 1px solid darkblue;
    border-radius: 15px;
}

article{
    background-color: rgb(10, 82, 145);
    min-width: 300px;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 15px;
}


.d1{
    height: 98vh;
    background-color: black;
    background-image: url(../imagens/wallpaper002.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.d2{
    height: 98vh;
    background-color: black;
    background-image: url(../imagens/uchiha-clan-logo-sharingan-eye-wallpaper-1280x800_3.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
