*{
    margin: 0;
}
body{
    background-color: rgb(99, 26, 167);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


article{
    background-color: rgb(252, 111, 181);

    min-width: 300px;
    max-width: 800px;
    height: 869px;
    margin: auto;
    text-align: center;

    padding-bottom: 15px;
}
article h1{
    background-color: rgb(66, 65, 65);
    color: aliceblue;

    margin-bottom: 50px;
    font-size: 30pt;

    font-variant: small-caps;
}


table{
    margin: auto;
    
    
}
tbody{
    border-collapse: collapse;
}
table tr{  
     
}
table tr th{
    border: 4px solid rgb(131, 131, 131);
    font-size: 20pt;
    padding:0px 10px 0px 10px;
}
table tr td{
    
    border: 2px solid rgb(248, 248, 248);

    font-size: 15pt;
    
    height: 40px;
    
    padding:5px 10px;
}


Footer{
    background-color: rgb(20, 59, 165);
    border: 3px solid black;
    color: aliceblue;
    text-align: center;
    padding: 5px;

    font-variant: small-caps;
}
