*{
    margin: 0;
}

body{
    background-color: rgba(44, 161, 207, 0.815);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    text-align: center;
    padding: 10px;
    color: aliceblue;
}

section{
    background-color: aliceblue;
    width: 800px;
    text-align: center;

    margin: auto;
    border-radius: 30px 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.452);
}
section input.ano{
    height: 20px;
    border: 3px solid rgba(0, 0, 0, 0.116);
    border-radius: 5px;
    background-color:  aliceblue;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    margin-left: 10px;
    text-align: center;
}
section input.button{
    width: 200px;
    height: 50px;
    border: 3px solid rgba(0, 0, 0, 0.226);
    border-radius: 5px;
    background-color:  rgba(44, 161, 207, 0.600);
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
section input.button:hover{
    cursor: cell;
}
section p{
    font-size: 20pt;
    padding: 30px;
}

div img{
    border-radius: 3000px;
    border: 5px solid rgba(0, 0, 0, 0.418);
    width: 300px;
}

footer{
    text-align: center;
    margin: 10px;
}

footer a{
    color: aliceblue;
    text-decoration: none;
    font-size: 15pt;
}